<template>
  <q-page class="flex flex-center column user-activate">
    THIS IS NOT USED !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! READ BELLOW
    <q-inner-loading :showing="true">
      <q-spinner-gears size="50px" color="primary" />
      <q-banner rounded class="bg-grey-4 q-mt-md">
        {{ $t("user-activation") }}
      </q-banner>
    </q-inner-loading>
  </q-page>
</template>

<script>
// THIS IS NOT USED
// This is the variant (3) ie. frontend page which sends activation POST via axios.
//      This is almost done but not tested.
// Instead the method (2) is used: GET to backend and consecutive POST called via requests.
// See drf_3.py DJOSER['ACTIVATION_URL'] which controls if we go through backend endpoint or frontend page.

// the ACTIVATION is not out-of-the-box supported in Djoser
// we have 3 ways to go:
// (1) re-design djoser's POST endpoint into GET and use it in settings.DJOSER['ACTIVATION_URL']; GET must return a web page
//      not recommended and not clean solution, because GET will update a database
//      https://github.com/sunscrapers/djoser/issues/14
// (2) create GET endpoint which calls djoser's POST endpoint via requests; again GET should return a web page or redirect to frontend
//      again not very clear (GET triggers db update)
//      https://stackoverflow.com/questions/59508580/how-to-handle-activation-url-with-django-djoser
// (3) (recommended by Djoser docs): Create a Frontend-GET endpoint which will call the djoser's POST via axios (or FetchAPI).
//      In axios response we can redirect (probably to the login page).

import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TheUserActivateRedirect',

  created () {
    this.redirect()
  },

  methods: {
    redirect () {
      let payload = {
        uid: this.$route.params.uid,
        token: this.$route.params.token,
      }
      this.$api
        .post("/api/v1/users/activation/", payload)
        .then(response => {
          this.$q.notify({
            message: this.$t("activate-ok"),
            position: 'bottom',
            color: 'positive',
            timeout: 7000,
          })
          this.$router.push("/auth/log-in")
        })
        .catch(error => {
          console.log(error)
          this.$q.notify({
            message: this.$t("activate-failed"),
            position: 'bottom',
            color: 'negative',
            timeout: 8000,
          })
          this.$router.push("/auth/resend-activation-mail")
        })
    },
  }
})
</script>

<i18n>
  {
    "en-US": {
      "user-activation": "Activating your account ..",
      "activate-ok": "Your account is now active and you can Log In.",
      "activate-failed": "The account activation has failed. We recommend resend the email and try again."
    },
    "cs-CZ": {
      "user-activation": "Aktivuje se Váš účet ..",
      "activate-ok": "Váš účet je nyní aktivní a můžete se přihlásit.",
      "activate-failed": "Activace účtu selhala. Doporučujeme si znova zaslat mail a zkusit aktivaci zopakovat."
    },
  }
</i18n>
