<template>
  <q-page class="flex flex-center column after-sign-up">
    <q-banner rounded class="bg-positive text-white">
      {{ $t("user-registered") }}
    </q-banner>
    <q-banner rounded class="bg-warning text-center q-mt-md">
      <span class="text-h6">
        <b>
          {{ $t("confirm-the-email-1") }}<br>
          {{ $t("confirm-the-email-2") }}
        </b>
      </span>
    </q-banner>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TheAfterSignUp',
})
</script>

<i18n>
  {
    "en-US": {
      "user-registered": "User has been registered successfully.",
      "confirm-the-email-1": "Please visit your mailbox",
      "confirm-the-email-2": "and find and confirm the verification email.",
    },
    "cs-CZ": {
      "user-registered": "Uživatel byl úspěšně zaregistrován.",
      "confirm-the-email-1": "Nyní prosím jděte do své příchozí pošty",
      "confirm-the-email-2": "a vyhledejte a potvrďte ověřovací email.",
    },
  }
</i18n>
