<template>
  <q-page class="flex flex-center column log-in">
    <q-banner rounded class="bg-warning text-white text-center q-mb-xl" v-if="staleToken">
      <span class="text-h6">
        <b>
          {{ $t("stale-token") }}<br>
          {{ $t("stale-token-2") }}
        </b>
      </span>
    </q-banner>

    <h3>{{ $t("log-in") }}</h3>
    <q-form class="flex flex-center column q-gutter-md" @submit.prevent="logIn">
      <InputText
        ref="username"
        v-model="logInFormData.username"
        :rules="[ val => !!val || $t('username-empty-msg') ]"
        :label="$t('label-username')"
        autofocus
      />
      <q-btn color="secondary" outline size="sm" tabindex="-1" @click="forgotPassword">{{ $t("forgot-password") }}</q-btn>
      <InputPassword
        v-model="logInFormData.password"
      />
      <q-btn color="positive" type="submit" size="lg">{{ $t("log-me-in") }}</q-btn>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { useAuthStore } from '/src/stores/auth.js'
import InputText from "src/components/inputs/InputText.vue"
import InputPassword from "src/components/inputs/InputPassword.vue"

export default defineComponent({
  name: 'TheLogIn',
  components: {
    InputText,
    InputPassword,
  },

  created () {
    this.authStore = useAuthStore()
    if (this.authStore.isAuthenticated) {
      this.navigateHome()
    }

    if (this.$route.params.activated === "activated_ok") {
      this.$q.notify({
        message: this.$t("activated-ok"),  // not "you can Log In now" but "system usage possible", because after `email change` user is still logged
        position: 'bottom',
        color: 'positive',
        timeout: 12000,
      })
    } else if (this.$route.params.activated === "stale_token") {
      this.staleToken = true
    }
  },

  data () {
    return {
      logInFormData: {
        username: "",
        password: "",
      },
      staleToken: false,

      authStore: null,
    }
  },

  methods: {
    async logIn () {
      await this.$api
        .post("/api/v1/token/login/", this.logInFormData)
        .then(response => {
          this.$q.notify({
            message: this.$t("login-ok"),
            position: 'bottom',
            color: 'positive',
            timeout: 5000,
          })
          this.authStore.setToken(response.data.auth_token)
          this.authStore.setStorage(this.logInFormData.username)
          this.fetchMoreForFE()

          this.navigateHome()
        })
        .catch(error => {
          this.$q.notify({
            message: this.$t("unable-login"),
            position: 'bottom',
            color: 'negative',
            timeout: 8000,
          })
          console.log(error)
          this.mailIfInActive()
          // // encoding not needed (for: query): https://router.vuejs.org/guide/essentials/navigation.html
          // this.$router.push({ path: "/auth/resend-activation-mail/", query: { u: this.logInFormData.username } })
          // // this will be routed back again to TheLogin, if the (failed) user isn't inactive yet
        })
    },
    async fetchMoreForFE () {
      await this.$api
        .get("/api/v1/users/me/")
        .then(response => {
          this.authStore.setMoreOnFE(response.data)
        })
    },
    async mailIfInActive () {
      const inactiveUrl = this.$router.resolve({ path: "/api/v1/users/inactive/", query: { u: this.logInFormData.username} })
      await this.$api
        .get(inactiveUrl.fullPath)
        .then(response => {
          if (response.data.inactive) {
            this.$q.notify({
              message: this.$t("still-inactive"),
              position: 'bottom',
              color: 'warning',
              textColor: 'black',
              timeout: 26000,
            })
            this.$router.push("/auth/resend-activation-mail")
          }
        })
    },
    navigateHome () {
      this.$router.push("/")
    },
    forgotPassword () {
      this.$router.push("/auth/reset-password-mail")
    },
  }
})
</script>

<i18n>
  {
    "en-US": {
      "log-in": "Log In",
      "log-me-in": "Log In",
      "label-username": "Username",
      "username-empty-msg": "Please enter your username",
      "login-ok": "you are logged in",
      "unable-login": "unable to log in",
      "activated-ok": "Your account is active now. Log In into system is possible.",
      "stale-token": "Seems this link was used already earlier.",
      "stale-token-2": "Please try Log In.",
      "still-inactive": "Your account is still inactive. Find an activation mail to confirm it. You can resend the mail here.",
      "forgot-password": "Forgot password?",
    },
    "cs-CZ": {
      "log-in": "Přihlášení uživatele",
      "log-me-in": "Přihlásit se",
      "label-username": "Přihlašovací jméno",
      "username-empty-msg": "Prosím, uveďte jméno uživatele",
      "login-ok": "jste přihlášen(a)",
      "unable-login": "přihlášení se nezdařilo",
      "activated-ok": "Váš účet je nyní aktivní. Lze se přihlašovat do systému.",
      "stale-token": "Zdá se, že tento odkaz už byl použit.",
      "stale-token-2": "Prosím, zkuste se přihlásit.",
      "still-inactive": "Váš účet ještě není aktivní. Najděte aktivační mail a potvrďte účet. Zde si můžete mail zaslat znova.",
      "forgot-password": "Zapomenuté heslo?",
    },
  }
</i18n>
