<template>
  <q-page class="flex flex-center column resend-activation-mail">
    <q-banner rounded class="bg-negative text-white text-center q-mb-xl" v-if="activationFailed">
      <span class="text-h6">
        <b>
          {{ $t("activation-failed") }}<br>
          {{ $t("activation-failed-2") }}
        </b>
      </span>
    </q-banner>

    <h4>{{$t("resend-mail-hdr")}}</h4>

    <q-form class="flex flex-center column" @submit.prevent="reSend">
      <div class="q-gutter-sm">
        <InputEmail
          v-model="reSendFormData.email"
        />
      </div>
      <q-btn color="primary" type="submit" size="lg" class="q-mt-xl">
        {{ $t("resend-activation-mail") }}
      </q-btn>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import InputEmail from "src/components/inputs/InputEmail.vue"

export default defineComponent({
  name: 'TheResendActivationMail',
  components: {
    InputEmail,
  },

  data() {
    return {
      activationFailed: false,
      invalidCredentials: false,
      reSendFormData: {
        email: null,
      },
    }
  },

  created () {
    // these are different cases and initially we had QBanner for each of them, however maybe redirect() is more appropriate
    //    so changing to redirect in 1st case; (about the 2nd case I am not sure now when it happens)
    // the situation additionaly has 3 subcases: unlogged, logged as activating user, logged as different user
    //    so please be carefully before you make some changes/improvements here (and at least try mentioned 3 subcases)
    if (this.$route.params.activated === "invalid_user_or_token") {
      this.$q.notify({
        message: this.$t("invalid-credentials"),
        position: 'bottom',
        color: 'warning',
        textColor: 'black',
        timeout: 16000,
      })
      this.$router.push("/auth/log-in")
    } else if (this.$route.params.activated === "activation_failed") {
      this.activationFailed = true
    }
  },

  methods: {
    reSend () {
      this.$api
        .post("/api/v1/users/resend_activation/", this.reSendFormData)
        .then(response => {
          this.$q.notify({
            message: this.$t("mail-sent"),
            position: 'bottom',
            color: 'positive',
            timeout: 16000,
          })
          this.$router.push("/auth/log-in")
        })
        .catch(error => {
          console.log(error)
          this.$q.notify({
            message: this.$t("mail-failed"),
            position: 'bottom',
            color: 'negative',
            timeout: 14000,
          })
        })
    },
  }
})
</script>

<i18n>
  {
    "en-US": {
      "resend-mail-hdr": "Resend the activation mail",
      "resend-activation-mail": "Send me the activation mail again",
      "mail-sent": "Activation mail was send. Find it and activate the account.",
      "mail-failed": "No such inactive user. (Or sending of the activation mail has failed.)",
      "activation-failed": "Activation has failed. Recommended: Resend the activation mail and try again.",
      "activation-failed-2": "However, this can be a server error.",
      "invalid-credentials": "Activation data were old. Is it possible to login now? Please try it.",
    },
    "cs-CZ": {
      "resend-mail-hdr": "Znova zaslat aktivační mail",
      "resend-activation-mail": "Prosím, zašlete mi aktivační mail znova",
      "mail-sent": "Aktivační mail byl odeslán. Najděte jej a aktivujte účet.",
      "mail-failed": "Neevidujeme takového neaktivního uživatele. (Nebo odeslání aktivačního mailu selhalo.)",
      "activation-failed": "Aktivace účtu selhala. Doporučeno: Zašlete ještě jednou aktivační mail a zkuste to znova.",
      "activation-failed-2": "Může se ale jednat o chybu na serveru.",
      "invalid-credentials": "Aktivační údaje byly staré. Je možné se nyní přihlásit? Prosím, vyzkoušejte to.",
    },
  }
</i18n>
