<template>
  <q-page class="flex flex-center column reset-password-mail">
    <h4>{{$t("reset-pwd-mail-hdr")}}</h4>

    <q-form class="flex flex-center column" @submit.prevent="sendMail">
      <div class="q-gutter-sm">
        <InputEmail
          v-model="resetPwdFormData.email"
        />
      </div>
      <q-btn color="primary" type="submit" size="lg" class="q-mt-xl">
        {{ $t("send-pwd-reset-mail") }}
      </q-btn>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import InputEmail from "src/components/inputs/InputEmail.vue"

export default defineComponent({
  name: 'TheResetPasswordMail',
  components: {
    InputEmail,
  },

  data() {
    return {
      resetPwdFormData: {
        email: null,
      },
    }
  },

  methods: {
    sendMail () {
      this.$api
        .post("/api/v1/users/reset_password/", this.resetPwdFormData)
        .then(response => {
          this.done()
        })
        .catch(error => {
          console.log(error)
          this.done()
        })
    },
    done () {
      this.$q.notify({
        message: this.$t("mail-sent"),
        position: 'bottom',
        color: 'positive',
        timeout: 20000,
      })
      this.$router.push("/")
    },
  }
})
</script>

<i18n>
  {
    "en-US": {
      "reset-pwd-mail-hdr": "Lost password",
      "send-pwd-reset-mail": "Send me the mail for password reset",
      "mail-sent": "If the address is registered the mail was sent to it. Find the mail and set new password with its help.",
    },
    "cs-CZ": {
      "reset-pwd-mail-hdr": "Zapomenuté heslo",
      "send-pwd-reset-mail": "Prosím, zašlete mi mail pro reset hesla",
      "mail-sent": "Je-li adresa registrovaná, byl na ni odeslán mail. Najděte jej a nastavte si s jeho pomocí nové heslo.",
    },
  }
</i18n>
