<template>
  <q-page class="flex flex-center column reset-password-new">
    <h4>{{$t("reset-password-new-hdr")}}</h4>
    <q-form class="flex flex-center column" @submit.prevent="resetPasswordNew">
      <div class="q-gutter-md">
        <InputPasswordSet
          ref="passwordSet"
          pwdModel="resetPwdNewFormData.new_password"
          @password-set="passwordSetEvent"
        />
      </div>
      <q-btn color="positive" type="submit" size="lg" class="q-mt-md">{{ $t("new-password-btn") }}</q-btn>
      <q-btn v-if="againMailBtn" color="secondary" outline size="sm" class="q-mt-md" tabindex="-1" @click="againMail">{{ $t("again-mail") }}</q-btn>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { useAuthStore } from '/src/stores/auth.js'
import InputPasswordSet from "src/components/inputs/InputPasswordSet.vue"

export default defineComponent({
  name: 'TheResetPasswordNew',
  components: {
    InputPasswordSet,
  },

  data() {
    return {
      resetPwdNewFormData: {
        new_password: null,
      },
      errors: {
        new_password: "",
      },
      againMailBtn: false,
    }
  },
  // watch: {
  //   (new) password watch is handled in its component
  // },

  created () {
    this.authStore = useAuthStore()
    if (this.authStore.isAuthenticated) {
      this.authStore.logout()
    }
  },

  methods: {
    passwordSetEvent (password) {
      this.resetPwdNewFormData.new_password = password
    },
    async resetPasswordNew () {
      await this.$api
        .post("/api/v1/users/reset_password_confirm/", {
          uid: this.$route.params.uid,
          token: this.$route.params.token,
          new_password: this.resetPwdNewFormData.new_password,
        })
        .then(response => {
          this.$q.notify({
            message: this.$t("new-password-set"),
            position: 'bottom',
            color: 'positive',
            timeout: 15000,
          })
          this.$router.push("/auth/log-in")
        })
        .catch(error => {
          if (error.response && error.response.data) {
            // this.errors = error.response.data     // we have no elements except of the sub-component for new pwd
            if (error.response.data.password) {   // but for such component an extra setting is needed
              this.$refs.passwordSet.setServerErrorFromParent()
            }
          }
          this.againMailBtn = true
          this.$q.notify({
            message: this.$t("failed-pwd"),
            position: 'bottom',
            color: 'negative',
            timeout: 12000,
          })
          console.log(error)
          if (error.response) {
            console.log(error.response.data)
          }
        })
    },
    againMail () {
      this.$router.push("/auth/reset-password-mail")
    },
  },
})
</script>

<i18n>
  {
    "en-US": {
      "reset-password-new-hdr": "Set your password",
      "new-password-btn": "Set new password",
      "failed-pwd": "Cannot set the password.",
      "new-password-set": "The password was set, you can log in.",
      "again-mail": "Please send me the mail again.",
    },
    "cs-CZ": {
      "reset-password-new-hdr": "Nové heslo",
      "new-password-btn": "Nastav nové heslo",
      "failed-pwd": "Heslo se nepodařilo nastavit.",
      "new-password-set": "Heslo bylo nastaveno, můžete se přihlásit.",
      "again-mail": "Prosím, pošlete mi mail znovu.",
    },
  }
</i18n>
