<template>
  <q-page class="flex flex-center column set-password">
    <h4>{{$t("change-password-hdr")}}</h4>
    <q-form class="flex flex-center column" @submit.prevent="setPassword">
      <div class="q-gutter-md">
        <InputPassword
          v-model="setPwdFormData.current_password"
          :label="$t('label-old-pwd')"
          :error="errors.current_password ? true : false"
          :error-message="errors.current_password ? $t('failed-old-pwd') : ''"
          autofocus
          class="q-mb-lg"
        />
        <InputPasswordSet
          ref="passwordSet"
          pwdModel="setPwdFormData.new_password"
          @password-set="passwordSetEvent"
        />
      </div>
      <q-btn color="positive" type="submit" size="lg" class="q-mt-md">{{ $t("change-password-btn") }}</q-btn>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

import InputPassword from "src/components/inputs/InputPassword.vue"
import InputPasswordSet from "src/components/inputs/InputPasswordSet.vue"

export default defineComponent({
  name: 'TheSetPassword',
  components: {
    InputPassword,
    InputPasswordSet,
  },

  data() {
    return {
      setPwdFormData: {
        current_password: null,
        new_password: null,
      },
      errors: {
        current_password: "",
        new_password: "",
      },
    }
  },
  watch: {
    'setPwdFormData.current_password' () {
      this.errors.current_password = ""
    },
    // (new) password watch is handled in its component
  },

  methods: {
    passwordSetEvent (password) {
      this.setPwdFormData.new_password = password
    },
    async setPassword () {
      await this.$api
        .post("/api/v1/users/set_password/", this.setPwdFormData)
        .then(response => {
          this.$q.notify({
            message: this.$t("password-changed"),
            position: 'bottom',
            color: 'positive',
            timeout: 10000,
          })
          this.$router.push("/")
        })
        .catch(error => {
          if (error.response && error.response.data) {
            this.errors = error.response.data     // set all field errors in single step
            if (error.response.data.password) {   // but for such component an extra setting is needed
              this.$refs.passwordSet.setServerErrorFromParent()
            }
          }
          this.$q.notify({
            message: this.$t("failed-change"),
            position: 'bottom',
            color: 'negative',
            timeout: 12000,
          })
          console.log(error)
          if (error.response) {
            console.log(error.response.data)
          }
        })
    }
  },
})
</script>

<i18n>
  {
    "en-US": {
      "change-password-hdr": "Change password",
      "change-password-btn": "Set new password",
      "label-old-pwd": "Current (ie. old) password",
      "password-changed": "Your password was changed.",
      "failed-old-pwd": "Current password is not correct. (You could Log Out and clear the password if you aren't able to find it.)",
      "failed-change": "Password change has failed.",
    },
    "cs-CZ": {
      "change-password-hdr": "Změna hesla",
      "change-password-btn": "Nastav nové heslo",
      "label-old-pwd": "Aktuální (tedy staré) heslo",
      "password-changed": "Heslo bylo změněno.",
      "failed-old-pwd": "Aktuální heslo není správné. (Pokud ho nezjistíte, můžete se odhlásit a nastavit jej jako Zapomenuté heslo.)",
      "failed-change": "Heslo se nepodařilo změnit.",
    },
  }
</i18n>
