<template>
  <q-page class="flex flex-center column sign-up">
    <h3>{{$t("sign-up")}}</h3>
    <q-form class="flex flex-center column" @submit.prevent="signUp">
      <div class="q-gutter-md">
        <InputText
          ref="username"
          v-model="signUpFormData.username"
          :rules="[ val => val && val.length >= 2 || $t('username-failure-msg') ]"
          :label="$t('label-username')"
          :error="errors.username ? true : false"
          :error-message="errors.username ? $t('failed-user') : ''"
          autofocus
        />
        <InputEmail
          ref="email"
          v-model="signUpFormData.email"
          :error="errors.email ? true : false"
          :error-message="errors.email ? $t('failed-email') : ''"
        />
        <InputPasswordSet
          ref="passwordSet"
          pwdModel="signUpFormData.password"
          @password-set="passwordSetEvent"
        />
      </div>
      <q-btn color="positive" type="submit" size="lg" class="q-mt-md">{{ $t("sign-up") }}</q-btn>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

import InputText from "src/components/inputs/InputText.vue"
import InputPasswordSet from "src/components/inputs/InputPasswordSet.vue"
import InputEmail from "src/components/inputs/InputEmail.vue"

export default defineComponent({
  name: 'TheSignUp',
  components: {
    InputText,
    InputEmail,
    InputPasswordSet,
  },

  data() {
    return {
      signUpFormData: {
        username: null,
        email: null,
        password: null,
      },
      errors: {
        username: "",
        email: "",
      },
      // passwordValid: false,
    }
  },
  watch: {
    'signUpFormData.username' () {
      this.errors.username = ""
    },
    'signUpFormData.email' () {
      this.errors.email = ""
    },
    // password watch is handled in its component
  },

  methods: {
    passwordSetEvent (password) {
      this.signUpFormData.password = password
    },
    // <InputPasswordSet ... @password-validity="passwordValidityEvent">
    // passwordValidityEvent (passwordValid) {
    //   this.passwordValid = passwordValid
    // },
    // submitForm () {
    //   if (this.passwordValid && this.$refs.username.xx && this.$refs.email.xx) {
    //     this.signUp(this.signUpFormData)
    //   }
    // },
    async signUp () {
      await this.$api
        .post("/api/v1/users/", this.signUpFormData)
        .then(response => {
          this.$router.push("/auth/after-sign-up")
        })
        .catch(error => {
          if (error.response && error.response.data) {
            this.errors = error.response.data     // set all field errors in single step
            if (error.response.data.password) {   // but for such component an extra setting is needed
              this.$refs.passwordSet.setServerErrorFromParent()
            }
          }
          this.$q.notify({
            message: this.$t("failed-register"),
            position: 'bottom',
            color: 'negative',
            timeout: 12000,
          })
          console.log(error)
          if (error.response) {
            console.log(error.response.data)
          }
        })
    }
  },
})
</script>

<i18n>
  {
    "en-US": {
      "sign-up": "Sign Up",
      "label-username": "Username",
      "username-failure-msg": "Please enter at least 2 characters",
      "failed-register": "failed to register the user",
      "failed-user": "you cannot use this username (name already in use, ..)",
      "failed-email": "you cannot use this email (email already in use, ..)",
    },
    "cs-CZ": {
      "sign-up": "Registrace uživatele",
      "label-username": "Přihlašovací jméno",
      "username-failure-msg": "Prosím, zadejte alespoň 2 znaky",
      "failed-register": "registrace uživatele se nezdařila",
      "failed-user": "toto jméno uživatele nelze použít (např. je již použito, ..)",
      "failed-email": "tento email nelze použít (např. je již použit, ..)",
    },
  }
</i18n>
