<template>
  <q-page class="flex flex-center column profile">
    <h3>Profile</h3>
    <q-form class="flex flex-center column q-gutter-md" @submit.prevent="updateProfile">
      <InputText
        v-model="profileFormData.username"
        ref="usernameRef"
        :label="$t('lbl-username')"
        disable
      />
      <InputEmail
        ref="emailRef"
        v-model="profileFormData.email"
        :error="errors.email ? true : false"
        :error-message="errors.email ? $t('failed-email') : ''"
        autofocus
      />
      <InputText
        filled
        v-model="profileFormData.first_name"
        ref="firstNameRef"
        :label="$t('lbl-first-name')"
        :error="errors.first_name ? true : false"
        :error-message="errors.first_name ? $t('failed-name') : ''"
      />
      <InputText
        v-model="profileFormData.last_name"
        ref="lastNameRef"
        :label="$t('lbl-last-name')"
        :error="errors.last_name ? true : false"
        :error-message="errors.last_name ? $t('failed-name') : ''"
      />
      <q-btn color="positive" type="submit" size="lg" @focus="updateProfile">{{ $t("save-profile") }}</q-btn>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { email } from "vuelidate/lib/validators"
import { useAuthStore } from 'stores/auth.js'
import InputText from "src/components/inputs/InputText.vue"
import InputEmail from "src/components/inputs/InputEmail.vue"

export default defineComponent({
  name: 'TheUserProfile',
  components: {
    InputText,
    InputEmail,
  },

  setup () {
    const authStore = useAuthStore()

    return {
      authStore,
    }
  },

  data() {
    return {
      email,
      profileFormData: {
        username: null,
        email: null,
        first_name: null,
        last_name: null,
      },
      errors: {
        username: null,  // probably not required as long as it is readonly
        email: null,
        first_name: null,
        last_name: null,
      },
    
      initialEmail: null,
      mailNeedWarning: false,
      mailWarning: null,
    }
  },
  watch: {
    'profileFormData.email' () {
      this.errors.email = ""
      if (this.mailNeedWarning && this.profileFormData.email !== this.initialEmail) {
        this.mailWarning = this.$q.notify({
          message: this.$t("mail-warning"),
          position: 'bottom',
          color: 'warning',
          textColor: 'black',
          timeout: 18000,
        })
        this.mailNeedWarning = false
      }
    },
    'profileFormData.first_name' () {
      this.errors.first_name = ""
    },
    'profileFormData.last_name' () {
      this.errors.last_name = ""
    },
  },

  created() {
    if (!this.authStore.isAuthenticated) {
      this.$router.push("/")
    }
    this.getProfile()
  },

  methods: {
    async updateProfile () {
      if (this.mailWarning) {
        this.mailWarning()  // clear warning
      }
      await this.$api
        .put("/api/v1/users/me/", this.profileFormData)
        .then(response => {
          this.$q.notify({
            message: this.$t("profile-updated"),
            position: 'bottom',
            color: 'positive',
            timeout: 6000,
          })
          if (this.initialEmail !== this.profileFormData.email) {  // email change; this is danger, so Log out
            this.$q.notify({
              message: this.$t("mail-changed"),
              position: 'bottom',
              color: 'warning',
              textColor: 'black',
              timeout: 30000,
            })
            // code duplicate of logout() in TheLoggedInMenu.vue
            this.authStore.logout()
          }
          this.$router.push("/")
        })
        .catch(error => {
          if (error.response && error.response.data) {
            this.errors = error.response.data     // set all field errors in single step
          }
          this.$q.notify({
            message: this.$t("failed-update"),
            position: 'bottom',
            color: 'negative',
            timeout: 12000,
          })
          console.log(error)
          if (error.response) {
            console.log(error.response.data)
          }
        })
    },
    async getProfile () {
      await this.$api
        .get("/api/v1/users/me/")
        .then(response => {
          for (var attrname in response.data) {
            if (this.$data.profileFormData.hasOwnProperty(attrname)) {
              this.profileFormData[attrname] = response.data[attrname]
            }
          }
          this.initialEmail = response.data.email
          this.mailNeedWarning = true
        })
        .catch(error => {
          console.log(error)
        })
    },
  }
})
</script>

<i18n>
  {
    "en-US": {
      "save-profile": "Save Profile",
      "failed-update": "the profile (user info) update has failed",
      "profile-updated": "the profile (user info) was updated",
      "mail-changed": "your account is inactive now; please visit your mailbox and click a link in the activation email",
      "mail-warning": "You will need activate your account again if you save the changed email address.",
      "failed-email": "you cannot use this email (email already in use, ..)",
      "failed-name": "this name cannot be entered (length, ..)",
      "lbl-username": "Username",
      "lbl-first-name": "First name",
      "lbl-last-name": "Last name",
    },
    "cs-CZ": {
      "save-profile": "Ulož Profil",
      "failed-update": "aktualizace profilu (informací o uživateli) se nezdařila",
      "profile-updated": "profil (informace o uživateli) byl aktualizován",
      "mail-changed": "Váš účet nyní není aktivní; prosím jděte do své mailové schránky a stiskněte odkaz v aktivačním mailu",
      "mail-warning": "Jestliže uložíte změněnou mailovou adresu, budete muset účet znova aktivovat (z mailu).",
      "failed-email": "tento email nelze použít (např. je již použit, ..)",
      "failed-name": "toto jméno nelze zadat (délka, ..)",
      "lbl-username": "Uživatel",
      "lbl-first-name": "Křestní jméno",
      "lbl-last-name": "Příjmení",
    },
  }
</i18n>
