<template>
  <InputText
    ref="email"
    type="email"
    :rules="[ val => val && this.email(val) || $t('email-failure-msg') ]"
    :label="$t('label-email')"
  />
</template>
  
<script>
import { email } from "vuelidate/lib/validators"
import InputText from './InputText.vue'

export default {
  name: 'InputEmail',
  components: {
    InputText,
  },

  data() {
    return {
      email,
    }
  },
}
</script>

<i18n>
  {
    "en-US": {
      "label-email": "E-mail",
      "email-failure-msg": "Please enter a valid email",
    },
    "cs-CZ": {
      "label-email": "E-mail",
      "email-failure-msg": "Prosím, zadejte platný email",
    },
  }
</i18n>
