<template>
  <InputText
    type="password"
    :label="$t('label-password')"
    :rules="[ val => !!val || $t('password-empty-msg') ]"
  />
</template>
  
<script>
import InputText from './InputText.vue'

export default {
  name: 'InputPassword',
  components: {
    InputText,
  },
}
</script>

<i18n>
  {
    "en-US": {
      "label-password": "Password",
      "password-empty-msg": "Please enter your password",
    },
    "cs-CZ": {
      "label-password": "Heslo",
      "password-empty-msg": "Prosím, zadejte své heslo",
    },
  }
</i18n>
