<template>
  <div>
    <InputPassword
      v-model="pwd"
      :value="pwdModel"
      :rules="[ val => validatePassword(val) || $t('password-failure-msg') ]"
      :error="errors.password ? true : false"
      :error-message="errors.password"
      class="q-pb-lg"
    />
    <div class="password-criteria">
      <div>
        <q-icon
          :name="validPassword.length ? 'check_circle' : 'cancel'"
          :color="validPassword.length ? 'positive' : 'negative'"
        />
        <span :class="scumbleClass.length" class="q-pl-xs">{{ $t("pwd-length") }}</span>
      </div>
      <div>
        <q-icon
          :name="validPassword.capital ? 'check_circle' : 'cancel'"
          :color="validPassword.capital ? 'positive' : 'negative'"
        />
        <span :class="scumbleClass.capital" class="q-pl-xs">{{ $t("pwd-capital") }}</span>
      </div>
      <div>
        <q-icon
          :name="validPassword.number ? 'check_circle' : 'cancel'"
          :color="validPassword.number ? 'positive' : 'negative'"
        />
        <span :class="scumbleClass.number" class="q-pl-xs">{{ $t("pwd-number") }}</span>
      </div>
      <div>
        <q-icon
          :name="validPassword.symbol ? 'check_circle' : 'cancel'"
          :color="validPassword.symbol ? 'positive' : 'negative'"
        />
        <span :class="scumbleClass.symbol" class="q-pl-xs">{{ $t("pwd-symbol") }}</span>
      </div>
    </div>

    <InputPassword
      v-model="pwdCopy"
      :label="$t('label-password-copy')"
      :rules="[ val => validateCopy(val) || $t('copy-failure-msg') ]"
      class="q-pt-sm"
    />
  </div>
</template>
  
<script>
// emits: passwordSet    // probably not needed: passwordValidity

import InputPassword from './InputPassword.vue'

export default {
  name: 'InputPasswordSet',
  components: {
    InputPassword,
  },
  props: [
    "pwdModel",
  ],

  data () {
    return {
      pwd: null,
      pwdCopy: null,
      errors: {
        password: "",
      },
      validPassword: {
        length: false,
        capital: false,
        number: false,
        symbol: false,
      },
      scumbleClass: {
        length: 'text-grey-9',
        capital: 'text-grey-9',
        number: 'text-grey-9',
        symbol: 'text-grey-9',
      },
      isValid: false,
      copyIsSame: false,
    }
  },
  watch: {
    pwd: function (pwd) {this.validatePassword(pwd)}
  },

  methods: {
    setServerErrorFromParent () {
      let errMsg = this.$t("failed-password")
      this.errors.password = errMsg
      return errMsg
    },
    validatePassword (pwd) {
      this.errors.password = ""  // clean server side validation error with any change

      pwd = pwd || ""  // avoid failure if null (pwd.length,...)
      this.validPassword.length = pwd.length >= 8
      this.validPassword.capital = /^(?=.*[A-Z])/.test(pwd)
      this.validPassword.number = /^(?=.*[0-9])/.test(pwd)
      this.validPassword.symbol = /^(?=.*[!@#\$%\^&\*_\-=+])/.test(pwd)

      this.scumbleClass.length = this.validPassword.length ? 'text-grey-6' : 'text-grey-9'
      this.scumbleClass.capital = this.validPassword.capital ? 'text-grey-6' : 'text-grey-9'
      this.scumbleClass.number = this.validPassword.number ? 'text-grey-6' : 'text-grey-9'
      this.scumbleClass.symbol = this.validPassword.symbol ? 'text-grey-6' : 'text-grey-9'

      this.$emit('passwordSet', pwd)
      this.isValid = this.validPassword.length && this.validPassword.capital && this.validPassword.number && this.validPassword.symbol
      this.copyIsSame = pwd === this.pwdCopy
      // this.emitValidity()
      return this.isValid
    },
    validateCopy (pwdCopy) {
      this.copyIsSame = pwdCopy === this.pwd
      // this.emitValidity()
      return this.copyIsSame
    },
    // emitValidity () {
    //   this.$emit('passwordValidity', this.isValid && this.copyIsSame)
    // },
  },
}
</script>

<i18n>
  {
    "en-US": {
      "label-password-copy": "Password (repeat)",
      "pwd-length": "must be at least 8 characters long",
      "pwd-capital": "must contain at least one capital letter",
      "pwd-number": "must contain at least one number",
      "pwd-symbol": "must contain at least one symbol",
      "password-failure-msg": "Password must meet all criteria",
      "copy-failure-msg": "Passwords are not identical",
      "failed-password": "this password doesn't meet requirements, try another",
    },
    "cs-CZ": {
      "label-password-copy": "Heslo (znovu)",
      "pwd-length": "musí mít alespoň 8 znaků",
      "pwd-capital": "musí obsahovat alespoň 1 velké písmeno",
      "pwd-number": "musí obsahovat alespoň 1 číslici",
      "pwd-symbol": "musí obsahovat alespoň 1 symbol",
      "password-failure-msg": "Heslo nesplňuje všechny požadavky",
      "copy-failure-msg": "Hesla se neshodují",
      "failed-password": "toto heslo nesplňuje požadavky, zkuste jiné",
    },
  }
</i18n>
