<template>
  <q-btn color="amber" text-color="black">
    <q-icon name="perm_identity" class="text-primary q-mr-sm" />
    {{ this.authStore.username }}
    <q-menu>
      <div class="row no-wrap q-pa-md">
        <q-list style="min-width: 160px">
          <q-item v-close-popup to="/auth/profile">
            <q-item-section avatar>
              <q-icon name="perm_identity" />
            </q-item-section>
            <q-item-section>{{ $t("profile") }}</q-item-section>
          </q-item>
          <q-item clickable v-close-popup @click="gravatar">
            <q-item-section avatar>
              <q-icon name="add_a_photo" />
            </q-item-section>
            <q-item-section>{{ $t("set-photo") }}</q-item-section>
          </q-item>
          <q-item clickable v-close-popup to="/auth/set-password">
            <q-item-section avatar>
              <q-icon name="password" />
            </q-item-section>
            <q-item-section>{{ $t("change-password") }}</q-item-section>
          </q-item>
        </q-list>

        <q-separator vertical inset class="q-mx-lg" />

        <div class="column items-center">
          <q-avatar size="72px" @click="gravatar">
            <q-img :src="gravatarUrl()" />
          </q-avatar>

          <div class="text-subtitle1 q-mt-md q-mb-xs">{{ this.authStore.username }}</div>

          <q-btn
            color="primary"
            :label="$t('log-out')"
            size="sm"
            v-close-popup
            @click="logout"
          />
        </div>
      </div>
    </q-menu>
  </q-btn>
</template>

<script>
import { defineComponent } from 'vue'
import { useAuthStore } from '/src/stores/auth'
import md5 from 'md5'

export default defineComponent({
  name: 'TheLoggedInMenu',

  setup () {
    const authStore = useAuthStore()

    return {
      authStore,
    }
  },

  methods: {
    logout () {
      // has code duplicate in TheUserProfile.vue, after e-mail change
      this.authStore.logout()
      this.$router.push("/")
    },
    gravatarUrl (userPage) {
      return "https://gravatar.com/" + (userPage ? "" : "avatar/") + md5(this.authStore.email.toLowerCase())
      // ?d=https%3A%2F%2Fexample.com%2Fimages%2Favatar.jpg   // default
    },
    navGravatar (inBlank) {
      window.open(this.gravatarUrl(true), inBlank ? '_blank' : '_self')
    },
    gravatar () {
      this.$q.dialog({
        title: this.$t("photo-title"),
        message: this.$t("msg-1") + " <b>" + this.authStore.email + "</b><br><br><i>" + this.$t("msg-2") + "</i><br><br><b>"
                + this.$t("msg-3") + "</b>: " + this.$t("msg-4"),
        html: true,
        ok: {
          label: this.$t("go-gravatar"),
        },
        options: {
          type: 'toggle',
          model: ['newWindow'],   // ~ default: true
          // inline: true,
          items: [
            { label: this.$t("new-window"), value: 'newWindow', default: true, color: 'secondary' },
          ]
        },
        cancel: true,
        //persistent: true  // not possible to Cancel the dialog by clicking outside
      }).onOk(data => {
        this.navGravatar(data.includes('newWindow'))  // }).onCancel(() => {..}).onDismiss(() => {..})
      })
    }
  }
})
</script>

<i18n>
  {
    "en-US": {
      "profile": "Profile",
      "change-password": "Password",
      "set-photo": "Photo",
      "log-out": "Log out",
      "photo-title": "Profile photo",
      "msg-1": "Continue to the Gravatar service to set the profile photo assigned to your email:",
      "msg-2": "The service is for free. It can be shared by more websites where you use the same email.",
      "msg-3": "Steps",
      "msg-4": "Create your Gravatar, in mailbox verify your email, upload your first photo.",
      "new-window": "use new browser window",
      "go-gravatar": "continue to Gravatar",
    },
    "cs-CZ": {
      "profile": "Profil",
      "change-password": "Heslo",
      "set-photo": "Foto",
      "log-out": "Odhlásit se",
      "photo-title": "Profilové foto",
      "msg-1": "Přejít na službu Gravatar, kde si můžete nastavit foto pro váš email:",
      "msg-2": "Služba je zdarma. Foto mohou sdílet i další weby, kde jste registrován(a) pod stejným mailem.",
      "msg-3": "Postup",
      "msg-4": "Create your Gravatar, v poště ověřte email, nahrajte své první foto.",
      "new-window": "použij nové okno prohlížeče",
      "go-gravatar": "pokračuj na Gravatar",
    },
  }
</i18n>
