<template>
  <q-btn-group push>
    <q-btn color="yellow" glossy text-color="black" push to="/auth/log-in">
      {{ $t("log-in") }}
    </q-btn>
    <q-btn color="amber" glossy text-color="black" push to="/auth/sign-up">
      {{ $t("sign-up") }}
    </q-btn>
  </q-btn-group>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TheLoginSignup',
})
</script>

<i18n>
  {
    "en-US": {
      "log-in": "Log In",
      "sign-up": "Sign Up",
    },
    "cs-CZ": {
      "log-in": "Přihlásit se",
      "sign-up": "Zaregistrovat se",
    },
  }
</i18n>
