<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue'
import { useAuthStore } from 'stores/auth.js'

export default defineComponent({
  name: 'App',
  beforeCreate () {
    useAuthStore().initializeAuth(this.$api)
  }
})
</script>
